.menu {
    display: flex;
    justify-content: center;
    background-color:cadetblue;
}

.menu-item {
    padding: 10px;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
}

#menu-selected {
    color: white;
}