.menu {
    display: flex;
    justify-content: center;
    background-color:cadetblue;
}

#menu-selected {
    color: white;
    border-bottom-width: 10px;
}

.menu-button {
    display: flex;
    padding: 15px;
    border: none;
    border-bottom: 20px;
    background: none;
	font: inherit;
}

.menu-item {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}