.main {
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #1C1C1F;
}

.inputMain {
    display: flex;
    padding: 20px;
    background-color: #31313C;
    border-radius: 50px;
    color: #FFFFFF;
}

.searchPlayer {
    display: flex;
    flex-direction: column;
}

.label {
    margin: 0px;
}

.input-name {
    width: 30vw;
}

.buttonSearchPlayer {

}

.main-input {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}