.header {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: #28344E
}

.config {
    display: flex;
    padding: 0;
}

.configs {
    display: flex;
    margin-right: 20px;
}

.selectGame {
    height:100%;
}

#header-selected {
    background-color: #5383E8;
    color: #FFFFFF;
}
.game {
    background: none;
	color: #A5ACB8;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    height: 100%;
    padding: 0px 20px 0px 20px;
}

.switchMode {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.sunImage {
    height:25px;
    width:25px;
}